@tailwind base;
@tailwind components;
@tailwind utilities;
  
/* Hide scrollbar for Chrome, Safari, and Edge */
.custom-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    display: none;
  }
  
  /* Hide scrollbar for Firefox */
  .custom-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  }
  
  